[hetzner]
type = sftp
host = {{ hetzner_host_temlate }}
user = {{ hetzner_user_template }}
pass = {{ hetzner_password_template }}
#key_file = {{ hetzner_key_template }}
port = 23
md5sum_command = md5 -r
sha1sum_command = sha1 -r
shell_type = unix
idle_timeout = 0

[hetzner_encrypted]
type = crypt
password = {{ encryption_password_template }}
password2 = {{ encryption_salt_template }}
remote = hetzner:
