[Unit]
Description=Rclone Mount Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount hetzner_encrypted: /mnt/hetzner_encrypted --allow-other --config /root/.config/rclone/rclone.conf --checkers=8
ExecStop=/bin/fusermount -uz /mnt/hetzner_encrypted
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
